
## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [9]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 28.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 3.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 74.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysql-connector (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 KB 4.8 MB/s eta 0:00:00

# Etapa 3: Análisis de datos utilizando SQL


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [3]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [10]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'FernandoPerezGuerra'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [7]:
if not database_exists(engine.url):
    create_database(engine.url)

NameError: ignored

In [6]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', con=engine)

NameError: ignored

In [13]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [28]:
#Rellena la variable query con tu consulta
query = """ SELECT DISTINCT launchSite from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

     launchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [12]:
query = """ SELECT LaunchSite, FlightNumber from SPACEXTBL where LaunchSite like '%CCS%' limit 5;"""
df  = pd.read_sql(query, con = engine )
df

     LaunchSite  FlightNumber
0  CCSFS SLC 40             1
1  CCSFS SLC 40             2
2  CCSFS SLC 40             3
3  CCSFS SLC 40             5
4  CCSFS SLC 40             6

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [16]:
query = """ SELECT sum(payloadmass) from SPACEXTBL where customers like '%(NASACRS)%' ;"""
df  = pd.read_sql(query, con = engine )
df

   sum(payloadmass)
0     551119.288235

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [20]:
query = """ SELECT serial, avg(Payloadmass) from SPACEXTBL  where serial like '%B1%';"""
df  = pd.read_sql(query, con = engine )
df

  serial  avg(Payloadmass)
0  B1003       6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [27]:
query = """ SELECT Date, FlightNumber, LandingOutcome from SPACEXTBL where LandingOutcome like '%TRUE RTLS%'  order by date limit 1 ;"""
df  = pd.read_sql(query, con = engine )
df

         Date  FlightNumber LandingOutcome
0  2015-12-22            17      True RTLS

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [31]:
query = """ SELECT serial ,FlightNumber, LandingOutcome from SPACEXTBL where LandingOutcome like '%TRUE ASDS%' AND Payloadmass BETWEEN 4000 and 6000;"""
df  = pd.read_sql(query, con = engine )
df

  serial  FlightNumber LandingOutcome
0  B1022            21      True ASDS
1  B1026            24      True ASDS
2  B1021            29      True ASDS
3  B1031            40      True ASDS
4  B1046            55      True ASDS
5  B1046            59      True ASDS
6  B1059            70      True ASDS

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [41]:
query = """ SELECT COUNT(FlightNumber) , Class from SPACEXTBL group by class;"""
df  = pd.read_sql(query, con = engine )
df

   COUNT(FlightNumber)  Class
0                   30      0
1                   60      1

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [51]:
query = """ SELECT serial, BoosterVersion, Payloadmass from SPACEXTBL Where Payloadmass >= 15600 group by serial;"""
df  = pd.read_sql(query, con = engine )
df

  serial BoosterVersion  Payloadmass
0  B1048       Falcon 9      15600.0
1  B1049       Falcon 9      15600.0
2  B1051       Falcon 9      15600.0
3  B1056       Falcon 9      15600.0
4  B1058       Falcon 9      15600.0
5  B1059       Falcon 9      15600.0
6  B1060       Falcon 9      15600.0

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [57]:
query = """ SELECT serial, BoosterVersion, Date, Class, LaunchSite from SPACEXTBL Where Date=2015 and class=0;"""
df  = pd.read_sql(query, con = engine )
df

  serial BoosterVersion        Date  Class    LaunchSite
0  B1012       Falcon 9  2015-01-10      0  CCSFS SLC 40
1  B1015       Falcon 9  2015-04-14      0  CCSFS SLC 40
2  B1016       Falcon 9  2015-04-27      0  CCSFS SLC 40
3  B1018       Falcon 9  2015-06-28      0  CCSFS SLC 40

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [66]:
query = """ SELECT serial, BoosterVersion, Date, Class, reusedcount from SPACEXTBL Where Date between '2010-06-04' and '2017-03-20' order by reusedcount desc"""
df  = pd.read_sql(query, con = engine )
df

   serial BoosterVersion        Date  Class  reusedcount
0   B1021       Falcon 9  2016-04-08      1            1
1   B1023       Falcon 9  2016-05-27      1            1
2   B1025       Falcon 9  2016-07-18      1            1
3   B1029       Falcon 9  2017-01-14      1            1
4   B1031       Falcon 9  2017-02-19      1            1
5   B0003       Falcon 9  2010-06-04      0            0
6   B0005       Falcon 9  2012-05-22      0            0
7   B0007       Falcon 9  2013-03-01      0            0
8   B1003       Falcon 9  2013-09-29      0            0
9   B1004       Falcon 9  2013-12-03      0            0
10  B1005       Falcon 9  2014-01-06      0            0
11  B1006       Falcon 9  2014-04-18      1            0
12  B1007       Falcon 9  2014-07-14      1            0
13  B1008       Falcon 9  2014-08-05      0            0
14  B1011       Falcon 9  2014-09-07      0            0
15  B1010       Falcon 9  2014-09-21      0            0
16  B1012       Falcon 9  2015-01-10      0            0
17  B1013       Falcon 9  2015-02-11      1            0
18  B1015       Falcon 9  2015-04-14      0            0
19  B1016       Falcon 9  2015-04-27      0            0
20  B1018       Falcon 9  2015-06-28      0            0
21  B1019       Falcon 9  2015-12-22      1            0
22  B1017       Falcon 9  2016-01-17      0            0
23  B1020       Falcon 9  2016-03-04      0            0
24  B1022       Falcon 9  2016-05-06      1            0
25  B1026       Falcon 9  2016-08-14      1            0
26  B1028       Falcon 9  2016-09-01      0            0
27  B1030       Falcon 9  2017-03-16      0            0